body{
    font-family: 'Roboto', sans-serif;
}

button {
    background: #4d4d4d;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 27px;
    font-weight: 300;
    border: none;
    
}

.container {
    padding: 0;
}


/*W3 over write */

.w3-container, .w3-panel {
    padding: 0;
}

/*Top search*/

.log-in-btn {
    position: absolute;
    right: 490px;
    top: 61px;

}

.search {
    width: 350px;
    background: white;
    padding: 10px;
    position: absolute;
    right: 580px;
    top: 62px;
}

.search img {
    float: right;
    padding: 5px;
}

input { border: 0;}

.top-search {
   padding: 10px 75px;
   position: absolute;
   right: -290px;
    top:0;

}

.orange-skew {
    background-color:#F6921E;
    transform:skewX(145deg);
    float: left;
    margin-top: -20px;
    padding: 100px;
    position: absolute;
    right: 250px;

}

.top-search p {
    color: white;
    float: left;
    margin-top: -20px;
    padding: 80px;
    position: absolute;
    right: 223px;
    z-index: 1;

}


/*Logo and Nav*/

nav {
    background: #4d4d4d;
    padding: 10px 60px 10px 60px;
    height: 70px;
}

nav img {
    margin-top: 10px;
    margin-left: -90px;
}

.hamburger 
    {
    font-size:30px;
    cursor:pointer;
    color: white;
    position: absolute;
    right: -375px;
    padding: 11px;
    z-index: 1;

}


ul {
    display: none;
}

li{
    color: white;
    float: left;
    text-decoration: none;
    font-size: 21px;
    font-weight: 200;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    border-bottom: 1px solid #F6921E;
}

.hero {
    background: url(../images/Fox_hero_bnr-img.png) no-repeat center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    height: 775px;
    
}

.nav-container {
    position: absolute;
    top: 145px;
    width: 100%;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #4d4d4d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 21px;
    font-weight: 200;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #F6921E;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Sign up */


h1{ 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    font-weight: 300;
    color: white;
    
}
.sign-up {
    width: 445px;
   position: absolute;
   top: 32%;
   left: 13%;

}

.sign-up p{
    color: white;
}

.sign-up h1{
    line-height: 65px;
}

.sign-up-btn{
    padding: 0 60px;
}

/*middle section*/

.middle-section {
    margin: 4rem 2rem;
}

.middle-section h2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #4d4d4d;

}

.middle-section p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
    padding: 0px 35px;

}

/* Bottom keyboard */

.bottom-bnr {
    background: url(../images/Computer-img.png) no-repeat center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    height: 850px; 
}

.bottom-bnr-text {
    color: white;
    width: 500px;
    font-size: 24px;
    line-height: 36px;
    padding: 3rem 5rem;


}

.bottom-bnr-text h2{
    color: white;
    width: 475px;
    font-size: 48px;
    padding: 1rem;
    
}

.we-work-for-u{   
    width: 300px;
    position: absolute;
    right: 60px;
    padding: 4rem 2rem;
    margin-top: 33rem;
    
}

.white-btn {
    background: transparent;
    border: 1px solid white;
}



/* Footer */

footer { background: #F6921E; padding: 100px 20px; }

.footer-container {
    padding: 10px 75px;
}

.footer-text{
    padding: 0 15%;
    color: white;
}




.social-icon a{
    text-decoration: none;
}

.social-icon{
    padding-bottom: 10px;
    border-bottom: 1px white solid;
}


/* Media queries */

@media (min-width: 940px) {
    
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #4d4d4d;
        float: right;
        display: inline-block;
        position: absolute;
        right: 200px;

        }
    
.container{ padding: 10px 75px;}
    
 .top-search {
   right: 85px;
}
    
.log-in-btn {
    right: 550px;

}
    
.search {
    width: 500px;
    right: 675px;
}
    
nav img {
    margin-top: 0px;
}
    
.hamburger {
    display: none;
}
    
.bottom-bnr-text {
    width: 800px;
    padding: 3rem 12rem;
}
    
.bottom-bnr {
    height: 500px; 
}

.we-work-for-u{
    right: 190px;
    padding: 4rem 1rem;
    margin-top: 0;  

    }
     
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

